:root {
    --es: 0;
}

main{
    padding-top: 8vw;
    padding-bottom: 30vw;
    text-align: right;
    padding-right: 20vw;
}

#img_search{
    position: absolute;
    top: 20vw;
    left: 45vw;
    height: 25vw;
    max-width: 50vw;
}

#output_search{
    position: absolute;
    top: 16vw;
    left: 16.5vw;

    font-size: 2vw;
    width: 20vw;
    height: 25vw;
    text-align: left;
    padding-top: 3vw;

    border-radius: 2vw;
    border: var(--es) double rgb(183, 116, 116);
}

#output_search li{
    padding-left: 1vw;
}

#btn_item{
    position: absolute;
    top: -1vw;
    left: 4.5vw;
    
    width: 15vw;
    height: 4vw;
    background-color: rgb(202, 96, 96);
    font-size: 1.5vw;
    
}

#text{
    z-index: -1;
    position: absolute;
    top: 22vw;
    left: 10vw;
    font-family: 'ProximanovaRegular';

    height: 17vw;
    width: 40vw;
    text-align:center;

    padding: 3vw;
    padding-top: 2vw;


}

main h1{
    font-size: 5vw;
    margin-right: 17vw;
}

main input{
    padding: 1vw;
    background-color: rgb(169, 169, 169);
    margin-top: 1vw;
    color: white;
    border-radius: 1vw;
}

main button{
    font-family: 'ProximanovaRegular';
    background-color: rgb(255, 0, 0);
    color: white;

    padding: 1vw;
    border-radius: 50vw;
}

#btn_clear_search{
    background-color: rgb(199, 147, 147);
}

footer{
    position: absolute;
    top: 50vw;
}